<h1>my javascript work</h1>

<%=link_to '1.first-work' , first_work_index_path %> <br>
<%=link_to '2.random_background',random_background_index_path %><br>
<%=link_to '3.paint your board',paint_board_index_path %><br>
<%=link_to '4.Day-tracker',day_tracker_index_path %><br>
<%=link_to '5.Drop-shadow',drop_shadow_index_path %><br>


