<!DOCTYPE html>
<html>
<head>
  <title>PracticeApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag "application" %>
<%= link_to "Home",wish_index_path ,id: "home" %>

</body>
</html>
